body{
    background-color: blue; 
    color: aqua;
}

@media (max-width: 320px) {
    body {background-color: red;
    }
}
@media (min-width: 1024px) {
    body {background-color: yellowgreen;
    }
}